// 引用
@import url(https://fonts.googleapis.com/css?family=Pacifico);

//Add variables here:


// html,
// body {
//     position: relative;
//     height: 100%;
// }
.container {
    width: 75%;
    max-width: 1440px !important;
}

h1 {
    font-size: 62px;
    letter-spacing: 14px;
    font-family: ‘cwTeXMing’, serif;
    font-weight: 1000;
}

h2 {
    font-size: 42px;
    letter-spacing: 8.5px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 900;
}

h3 {
    font-size: 30px;
    letter-spacing: 3px;
    font-family: 'Noto Sans TC', sans-serif;
}

h4 {
    font-size: 25px;
    letter-spacing: 5px;
    font-family: 'Noto Sans TC', sans-serif;
}

h5 {
    font-size: 17px;
    letter-spacing: -1px;
    // 原本 6px
    line-height: 28px;
    font-family: 'Noto Sans TC', sans-serif;
}

h6 {
    font-size: 15px;
    letter-spacing: 3.5px;
    font-family: 'Noto Sans TC', sans-serif;
}


body {
    margin: 0;
    padding: 0;
}

// shopping
#shopping {
    position: fixed;
    right: 35px;
    top: 150px;
    z-index: 5;

    i {
        font-size: 20px;
        color: white;
    }

    .cart {
        width: 31px;
        height: 200px;
        writing-mode: vertical-lr;
        letter-spacing: 10px;
        color: white;


    }

    .messenger {
        width: 50px;
        height: 100px;
        writing-mode: vertical-lr;
        letter-spacing: 10px;
        color: white;
    }
}







// section#banner
section#banner {
    width: 100%;
    height: 100vh;

    .img1 {
        height: 100%;
        width: 100%;
        background-image: url("./01-banner/01-banner-bothdogsleep.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .img2 {
        height: 100%;
        width: 100%;
        background-image: url("./01-banner/01-banner-momsondog.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img3 {
        height: 100%;
        width: 100%;
        background-image: url("./01-banner/01-banner-momsondog.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        position: relative;

        ul {
            display: flex;
            position: absolute;
            top: 140px;
            right: 0;
            z-index: 2;
            list-style-type: none;

            li {
                margin: 0 14px;
                color: white;
                transition: 1s;
            }


            li:hover {
                font-weight: bold;
                position: relative;
                border-bottom: 1px solid rgb(255, 255, 255);

                .nav-img {
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: -45px;
                    left: calc(50% - 20px);
                    background-image: url('./banner/Banner-button-hover-Tsu.png');
                    background-size: cover;
                }
            }
        }

        .logo {
            height: 120px;
            width: 125px;
            position: absolute;
            top: 23px;
            z-index: 3;
        }

        .content {
            height: 100px;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;
            position: absolute;
            top: 443px;
            right: 40px;
            z-index: 3;

            h5 {
                margin-top: 42px;
            }
        }

        .phone {
            width: 300px;
            border-radius: 29px;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 20px;
            right: 0;
            z-index: 2;
            padding: 5px 0;
            color: #fff;
            border: 3px solid white;

            i {
                margin: 0 8px;
            }

            h6 {
                margin: 0;
            }
        }

        .hamburger {
            width: 50px;
            height: 50px;
            background-color: antiquewhite;
            z-index: 3;
            position:
                absolute;
            top: 116px;
            right: 20px;
            font-size: 50px;
            display: flex;
            justify-content: center;

        }
    }


    // swiper
    .swiper-container {
        width: 100%;
        height: 100%;


    }

    .swiper-slide {
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        
    }
}








// section#about
section#about {
    width: 100%;
        @media(max-width:991px) {
            .title-order {order: 2
            }
            .pic-order{
                order: 1;
                display: flex;
                justify-content: center;
            }
        }
    }

    section#about {

    }  
    

    .pic {
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-top: 118px;
@media(max-width: 991px){


}
           
    
    }

    .title {
        font-size: 42px;
        letter-spacing: 8.5px;
        margin-top: 110px;
        @media(max-width:991px){
            margin-top:0;
            position:relative;
        }


        h2 {
            margin-bottom: 70px;
            @media(max-width:991px){position: absolute;
            top:-470px;
            left: calc(50% - 101px);
            text-align: center;  
            }


        }

        h5 {
            padding-bottom: 70px;
        }

        .logo {
            width: 104px;
            padding-bottom: 130px;

        }
    }





// about-2
section#about-2 {
    .about-2-img {
        padding: 210px 0 50px 175px;        
        background-image: url(./03-about-transition/03-about-ransition.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: left;
    }
    h4{
        color: white;
    }
   
}








// section#unfamiliar
section#unfamiliar {
    width: 100%;
    height: 100vh;
    position: relative;

    .swiper-container {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        position: relative;

        div video {
            width: 100%;
            // height: 100vh;

        }

        div.img {
            width: 100%;
            height: 100%;
            background-image: url('./04-unfamiliarbar/04-unfamiliarbar-space.png');
            background-size: cover;
            overflow: hidden;
            background-position: center;
        }

        .swiper-title {
            position: absolute;
            top: 120px;
            left: 560px;
            z-index: 2;
            color: white;
            letter-spacing: 8.5px;
        }


    }

    div.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


}


// booking
section#booking {
    .container {
        .content {
            padding: 70px 0 85px 0;
            text-align: center;
            color: purple;

            .paw {
                i {
                    font-size: 25px;
                }
            }

            .cup {
                max-width: 340px;
                margin: auto;
                display: flex;
                justify-content: space-around;

                .cup-left {
                    height: 58px;
                    width: 40%;
                    border-bottom: 1px solid purple;
                }

                i {
                    padding: 45px 0;
                    width: 10%;
                    font-size: 25px;
                }

                .cup-right {
                    height: 58px;
                    width: 40%;
                    border-bottom: 1px solid purple;
                }
            }

            .text {
                .btm-line {
                    width: 340px;
                    height: 70px;
                    margin: auto;

                }
            }
        }
    }
}








// menu
section#menu {
    .container {
        .menu-all {
            display: none;

            @media (min-width: 992px) {
                display: block;
            }



            .menu-top {
                display: flex;
                justify-content: space-around;
                margin: 70px 0 15px 0;

                //img1:pasta
                .menu-top-img.menu-top-img1{
                    width: 250px;
                    height: 250px;
                    background-color: brown;
                    border-radius: 10.5px;
                    background-image: url(./06-menu/06-menu-dogcookie.png);
                    background-size: cover;

                    .mask {
                        width: 100%;
                        height: 100%;
                        border-radius: 10.5px;        
                        background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                        visibility: hidden;
                        .text{
                            color: rgba($color: #ffffff, $alpha: 0);                       
                            visibility: hidden;
                        }                  
                    }
                }

                .menu-top-img.menu-top-img1:hover {
                    transform: scale(1.045);
                    transition-duration: 0.9s;
                    transition-timing-function: ease;
                    
                    .mask{
                        visibility: visible;
                        display:flex;
                        justify-content: center;
                        align-items: center;  
                        transition: 1.2s ease;     
                        .text{
                            color: rgba($color: #ffffff, $alpha: 1);  
                            transition: 0.4s ease;
                            visibility:  visible;
                        }         
                    }
                }

              //img2:cake
                .menu-top-img.menu-top-img2{
                    width: 250px;
                    height: 250px;                    
                    border-radius: 10.5px;
                    background-image: url(./06-menu/06-menu-cake.png);
                    background-size: cover;

                    .mask {
                        width: 100%;
                        height: 100%;
                        border-radius: 10.5px;        
                        background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                        visibility: hidden;
                        .text{
                            color: rgba($color: #ffffff, $alpha: 0);                       
                            visibility: hidden;
                        }                  
                    }
                }

                .menu-top-img.menu-top-img2:hover {
                    transform: scale(1.045);
                    transition-duration: 0.9s;
                    transition-timing-function: ease;
                    
                    .mask{
                        visibility: visible;
                        display:flex;
                        justify-content: center;
                        align-items: center;  
                        transition: 1.2s ease;     
                        .text{
                            color: rgba($color: #ffffff, $alpha: 1);  
                            transition: 0.4s ease;
                            visibility:  visible;
                        }         
                    }
                }

                //img3:salmon
                .menu-top-img.menu-top-img3{
                    width: 250px;
                    height: 250px;
                    background-color: brown;
                    border-radius: 10.5px;
                    background-image: url(./06-menu/06-menu-salmon.png);
                    background-size: cover;

                    .mask {
                        width: 100%;
                        height: 100%;
                        border-radius: 10.5px;        
                        background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                        visibility: hidden;
                        .text{
                            color: rgba($color: #ffffff, $alpha: 0);                       
                            visibility: hidden;
                        }                  
                    }
                }

                .menu-top-img.menu-top-img3:hover {
                    transform: scale(1.045);
                    transition-duration: 0.9s;
                    transition-timing-function: ease;
                    
                    .mask{
                        visibility: visible;
                        display:flex;
                        justify-content: center;
                        align-items: center;  
                        transition: 1.2s ease;     
                        .text{
                            color: rgba($color: #ffffff, $alpha: 1);  
                            transition: 0.4s ease;
                            visibility:  visible;
                        }         
                    }
                }
            }




            .menu-btm {
                display: flex;
                justify-content: space-around;
                margin: 70px 0 15px 0;

                //img1:pizza
                .menu-btm-img.menu-btm-img1{
                    width: 250px;
                    height: 250px;                    
                    border-radius: 10.5px;
                    background-image: url(./06-menu/06-menu-pizza.png);
                    background-size: cover;

                    .mask {
                        width: 100%;
                        height: 100%;
                        border-radius: 10.5px;        
                        background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                        visibility: hidden;
                        .text{
                            color: rgba($color: #ffffff, $alpha: 0);                       
                            visibility: hidden;
                        }                  
                    }
                }

                .menu-btm-img.menu-btm-img1:hover {
                    transform: scale(1.045);
                    transition-duration: 0.9s;
                    transition-timing-function: ease;
                    
                    .mask{
                        visibility: visible;
                        display:flex;
                        justify-content: center;
                        align-items: center;  
                        transition: 1.2s ease;     
                        .text{
                            color: rgba($color: #ffffff, $alpha: 1);  
                            transition: 0.4s ease;
                            visibility:  visible;
                        }         
                    }
                }

              //img2:coxktail
                .menu-btm-img.menu-btm-img2{
                    width: 250px;
                    height: 250px;                    
                    border-radius: 10.5px;
                    background-image: url(./06-menu/06-menu-cocktail.png);
                    background-size: cover;

                    .mask {
                        width: 100%;
                        height: 100%;
                        border-radius: 10.5px;        
                        background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                        visibility: hidden;
                        .text{
                            color: rgba($color: #ffffff, $alpha: 0);                       
                            visibility: hidden;
                        }                  
                    }
                }

                .menu-btm-img.menu-btm-img2:hover {
                    transform: scale(1.045);
                    transition-duration: 0.9s;
                    transition-timing-function: ease;
                    
                    .mask{
                        visibility: visible;
                        display:flex;
                        justify-content: center;
                        align-items: center;  
                        transition: 1.2s ease;     
                        .text{
                            color: rgba($color: #ffffff, $alpha: 1);  
                            transition: 0.4s ease;
                            visibility:  visible;
                        }         
                    }
                }

                //img3:bbq
                .menu-btm-img.menu-btm-img3{
                    width: 250px;
                    height: 250px;                    
                    border-radius: 10.5px;
                    background-image: url(./06-menu/06-menu-bbq.png);
                    background-size: cover;

                    .mask {
                        width: 100%;
                        height: 100%;
                        border-radius: 10.5px;        
                        background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                        visibility: hidden;
                        .text{
                            color: rgba($color: #ffffff, $alpha: 0);                       
                            visibility: hidden;
                        }                  
                    }
                }

                .menu-btm-img.menu-btm-img3:hover {
                    transform: scale(1.045);
                    transition-duration: 0.9s;
                    transition-timing-function: ease;
                    
                    .mask{
                        visibility: visible;
                        display:flex;
                        justify-content: center;
                        align-items: center;  
                        transition: 1.2s ease;     
                        .text{
                            color: rgba($color: #ffffff, $alpha: 1);  
                            transition: 0.4s ease;
                            visibility:  visible;
                        }         
                    }
                }
            } 
    }


        .menu-swiper {
            height: 60vh;
            width: 100%;
            display: flex;
            justify-content: center;

            @media(min-width:992px) {
                display: none;
            }

            ;


            // swiper
            .swiper-container {
                width: 100%;
                height: 100%;
            }



            .swiper-slide {
                background: #fff;
                width: 100%;
                height: 100%;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                .img1{
                    width:100vw;
                    .menu-top-img.menu-top-img1{
                        width: 100%;
                        height: 100%;                    
                        background-image: url(./06-menu/06-menu-dogcookie.png);
                        background-size: cover;
    
                        .mask {
                            width: 100%;
                            height: 100%;                              
                            background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                            visibility: hidden;
                            .text{
                                color: rgba($color: #ffffff, $alpha: 0);                       
                                visibility: hidden;
                            }                  
                        }
                    }
    
                    .menu-top-img.menu-top-img1:hover {
                        transition-duration: 0.9s;
                        transition-timing-function: ease;
                        
                        .mask{
                            visibility: visible;
                            display:flex;
                            justify-content: center;
                            align-items: center;  
                            transition: 1.2s ease;     
                            .text{
                                color: rgba($color: #ffffff, $alpha: 1);  
                                transition: 0.4s ease;
                                visibility:  visible;
                            }         
                        }
                    }
                }
                .img2{
                    width:100vw;
                    .menu-top-img.menu-top-img2{
                        width: 100%;
                        height: 100%;                    
                        background-image: url(./06-menu/06-menu-cake.png);
                        background-size: cover;
    
                        .mask {
                            width: 100%;
                            height: 100%;                              
                            background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                            visibility: hidden;
                            .text{
                                color: rgba($color: #ffffff, $alpha: 0);                       
                                visibility: hidden;
                            }                  
                        }
                    }
    
                    .menu-top-img.menu-top-img2:hover {
                        transition-duration: 0.9s;
                        transition-timing-function: ease;
                        
                        .mask{
                            visibility: visible;
                            display:flex;
                            justify-content: center;
                            align-items: center;  
                            transition: 1.2s ease;     
                            .text{
                                color: rgba($color: #ffffff, $alpha: 1);  
                                transition: 0.4s ease;
                                visibility:  visible;
                            }         
                        }
                    }
                }
                .img3{
                    width:100vw;
                    .menu-top-img.menu-top-img3{
                        width: 100%;
                        height: 100%;                    
                        background-image: url(./06-menu/06-menu-salmon.png);
                        background-size: cover;
    
                        .mask {
                            width: 100%;
                            height: 100%;                              
                            background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                            visibility: hidden;
                            .text{
                                color: rgba($color: #ffffff, $alpha: 0);                       
                                visibility: hidden;
                            }                  
                        }
                    }
    
                    .menu-top-img.menu-top-img3:hover {
                        transition-duration: 0.9s;
                        transition-timing-function: ease;
                        
                        .mask{
                            visibility: visible;
                            display:flex;
                            justify-content: center;
                            align-items: center;  
                            transition: 1.2s ease;     
                            .text{
                                color: rgba($color: #ffffff, $alpha: 1);  
                                transition: 0.4s ease;
                                visibility:  visible;
                            }         
                        }
                    }
                }


                .img1{
                    width:100vw;
                    .menu-btm-img.menu-btm-img1{
                        width: 100%;
                        height: 100%;                    
                        background-image: url(./06-menu/06-menu-pizza.png);
                        background-size: cover;
    
                        .mask {
                            width: 100%;
                            height: 100%;                              
                            background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                            visibility: hidden;
                            .text{
                                color: rgba($color: #ffffff, $alpha: 0);                       
                                visibility: hidden;
                            }                  
                        }
                    }
    
                    .menu-btm-img.menu-btm-img1:hover {
                        transition-duration: 0.9s;
                        transition-timing-function: ease;
                        
                        .mask{
                            visibility: visible;
                            display:flex;
                            justify-content: center;
                            align-items: center;  
                            transition: 1.2s ease;     
                            .text{
                                color: rgba($color: #ffffff, $alpha: 1);  
                                transition: 0.4s ease;
                                visibility:  visible;
                            }         
                        }
                    }
                }
                .img2{
                    width:100vw;
                    .menu-btm-img.menu-btm-img2{
                        width: 100%;
                        height: 100%;                    
                        background-image: url(./06-menu/06-menu-cocktail.png);
                        background-size: cover;
    
                        .mask {
                            width: 100%;
                            height: 100%;                              
                            background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                            visibility: hidden;
                            .text{
                                color: rgba($color: #ffffff, $alpha: 0);                       
                                visibility: hidden;
                            }                  
                        }
                    }
    
                    .menu-btm-img.menu-btm-img2:hover {
                        transition-duration: 0.9s;
                        transition-timing-function: ease;
                        
                        .mask{
                            visibility: visible;
                            display:flex;
                            justify-content: center;
                            align-items: center;  
                            transition: 1.2s ease;     
                            .text{
                                color: rgba($color: #ffffff, $alpha: 1);  
                                transition: 0.4s ease;
                                visibility:  visible;
                            }         
                        }
                    }
                }
                .img3{
                    width:100vw;
                    .menu-btm-img.menu-btm-img3{
                        width: 100%;
                        height: 100%;                    
                        background-image: url(./06-menu/06-menu-bbq.png);
                        background-size: cover;
    
                        .mask {
                            width: 100%;
                            height: 100%;                              
                            background: linear-gradient(to bottom, rgba(255,183,105,0.35) 0%,rgba(128,58,76,0.5) 99%,rgba(128,58,76,0.7) 100%);
                            visibility: hidden;
                            .text{
                                color: rgba($color: #ffffff, $alpha: 0);                       
                                visibility: hidden;
                            }                  
                        }
                    }
    
                    .menu-btm-img.menu-btm-img3:hover {
                        transition-duration: 0.9s;
                        transition-timing-function: ease;
                        
                        .mask{
                            visibility: visible;
                            display:flex;
                            justify-content: center;
                            align-items: center;  
                            transition: 1.2s ease;     
                            .text{
                                color: rgba($color: #ffffff, $alpha: 1);  
                                transition: 0.4s ease;
                                visibility:  visible;
                            }         
                        }
                    }
                }
                
            }
        }
    }

}



// service

section#service {


    h2 {
        text-align: center;
        padding: 122px 0 130px 0;
        color: #F4B9AB;
    }

    h3 {
        text-align: center;
        margin: 20px 0;
        color: #F4B9AB;

        @media(max-width:991px) {
            margin-top: 78px;
        }
    }

    h5 {
        @media(max-width:991px) {
            max-width: 70%;
            margin: auto;
            padding: 0 5px;
        }
    }

    .service-btm-left-order {
        order: 1;
    }

    .service-btm-center-order {
        order: 2;

        @media(max-width:991px) {
            order: 1
        }
    }

    .service-btm-right-order {
        order: 3;
    }


    .service-btm-left {

        padding: 100px 0 50px 0;

        @media (max-width:991px) {
            padding: unset;
        }

        .service-btm-left-top {
            position: relative;

            .service-btm-left-top-img {
                width: 65px;
                height: 65px;
                border-radius: 65px;
                background-image: url("./service-icon/Light-001-14.png");
                background-size: cover;
                background-position: center;
                position: absolute;
                right: 0;
                top: -10px;

                @media(max-width: 991px) {
                    left: calc(50% - 32.5px);
                    top: -60px
                }
            }
        }

        .service-btm-left-top:hover .service-btm-left-top-img {
            background-image: url("./service-icon/Deep-001-14.png")
        }

        .service-btm-left-top:hover h3 {
            color: #DAA183;
        }





        .service-btm-left-btm {
            position: relative;

            .service-btm-left-btm-img {
                width: 65px;
                height: 65px;
                border-radius: 65px;
                background-image: url("./service-icon/Light-003-14.png");
                background-size: cover;
                background-position: center;
                position: absolute;
                right: 0;
                top: -10px;

                @media(max-width: 991px) {
                    left: calc(50% - 32.5px);
                    top: -60px
                }

            }
        }

        .service-btm-left-btm:hover .service-btm-left-btm-img {
            background-image: url("./service-icon/Deep-003-14.png");
        }

        .service-btm-left-btm:hover h3 {
            color: #DAA183;
        }
    }


    .service-btm-right {
        padding: 100px 0 50px 0;

        @media (max-width:991px) {
            padding: unset;
        }

        .service-btm-right-top {
            position: relative;

            .service-btm-right-top-img {
                width: 65px;
                height: 65px;
                border-radius: 65px;
                background-image: url("./service-icon/Light-002-14.png");
                background-size: cover;
                background-position: center;
                position: absolute;
                left: 0;
                top: -10px;

                @media(max-width: 991px) {
                    left: calc(50% - 32.5px);
                    top: -60px
                }
            }
        }

        .service-btm-right-top:hover .service-btm-right-top-img {
            background-image: url("./service-icon/Deep-002-14.png");
        }

        .service-btm-right-top:hover h3 {
            color: #DAA183;
        }



        .service-btm-right-btm {
            position: relative;

            .service-btm-right-btm-img {
                width: 65px;
                height: 65px;
                border-radius: 65px;
                background-image: url("./service-icon/Light-004-14.png");
                background-size: cover;
                background-position: center;
                position: absolute;
                left: 0;
                top: -10px;

                @media(max-width: 991px) {
                    left: calc(50% - 32.5px);
                    top: -60px
                }
            }
        }

        .service-btm-right-btm:hover .service-btm-right-btm-img {
            background-image: url("./service-icon/Deep-004-14.png");
        }

        .service-btm-right-btm:hover h3 {
            color: #DAA183;
        }
    }



    .service-btm-center {
        background-color: cyan;
        width: 100%;
        height: 100%;
        position: relative;

        @media(max-width: 991px) {
            padding: unset;
        }

        .service-swiper-img {
            width: 100%;
        }




        // swiper
        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }


    }

}




// service02
section#service-2 {
    padding: 10px 0;


    .container {
        height: 100%;
        widows: 100%;
        display: flex;
        justify-content: space-around;

        h4 {
            color: #F4B9AB
        }

        .service-2-left {
            display: none;
            @media(min-width:992px){
            width: 10%;
            writing-mode: vertical-lr;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid #F4B9AB;
        }


        }

        .service-2-right {
            display: none;
            @media(min-width:992px){
            width: 10%;
            writing-mode: vertical-lr;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid #F4B9AB;
            }
        }

        .service-2-center {
            width: 65%;
            height: 100%;
            margin: 0 10px;
            @media(min-width:992px){
                width: 100%;
            }

            .service-2-center-top {
                width: 100%;
                height: 100%;

                margin-bottom: 5px;
                display: flex;
                justify-content: space-between;
            }

            .service-2-center-btm {
                width: 100%;
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
            }

            .service-2-center-img {
                width: calc(50% - 2.5px);
                height: 100%;
                position: relative;
                .img {
                    width: 100%
                }
            }
.text{
    position: absolute;
    z-index: 1;
    top: calc(50% - 27px);
    left:calc(50% - 81px);
    margin-top: auto;
    color:#fff0;
    transition: 0.8s;


    h5{text-align: center;
        padding-top: 30px;
      }
   
}
.service-2-center-img:hover .text{
    color:#ffff;
}
            .service-2-center-img-hover{
                width: 100%;
                height: 100%;
                transition: 0.8s;
                background-color: rgba(244, 186, 171, 0);
                position: absolute;
                top:0;
            }


                .service-2-center-img-hover:hover {
                    background-color: rgba(244, 186, 171, 0.8);
                }

            
        }





    }
}





















//product
section#product {
  

    .container {

        h2 {
            padding: 123px 0 38px 0;
            text-align: center;
            color: rgb(100, 73, 150)
        }

        .product-mdl {
            margin-bottom: 50px;

            h5 {
                margin-top: 8px;
                text-align: center;
                position: absolute;
                bottom: -30px;
                left: calc(50% - 23px)
            }

            .product-mdl-img {
                width: 90px;
                height: 90px;
                border-radius: 90px;
                margin: auto;
                position: relative;
            }

            .product-mdl-img:hover {
                transform: translateY(-10px)
            }

            .product-mdl-img:hover h5 {
                transform: scale(1.2);
                font-weight: bolder;
            }

            .product-mdl-img1 {
                background-image: url('/product-icon/feed.png');
                background-size: cover;
            }

            .product-mdl-img2 {
                background-image: url('/product-icon/bone.png');
                background-size: cover;
            }

            .product-mdl-img3 {
                background-image: url('./product-icon/hair.png');
                background-size: cover;
            }

            .product-mdl-img4 {
                background-image: url('./product-icon/box.png');
                background-size: cover;
            }

            .product-mdl-img5 {
                background-image: url('./product-icon/play.png');
                background-size: cover;
            }

            .product-mdl-img6 {
                background-image: url('./product-icon/medicine.png');
                background-size: cover;
            }



        }


        .product-btm {
            width: 100%;
            height: 400px;
            background-color: black;
            position: relative;

            @media(max-width:991px) {
                height: 400px;
            }

            @media(max-width:767px) {
                display: none;
            }

            h6 {
                position: absolute;
                right: 0
            }

            .swiper-container {
                width: 100%;
                height: 400px;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;


                .product-swiper-img1 {
                    width: 60%;
                    height: 100%;
                    background-image: url('./09-product/改-01-_工作區域\ 1.jpg');
                    background-size: cover;
                    background-position: center;
                }

                .product-swiper-img2 {
                    width: 60%;
                    height: 100%;
                    background-image: url('./09-product/02-點心1.jpg');
                    background-size: cover;
                    background-position: center;
                }

                .product-swiper-img3 {
                    width: 60%;
                    height: 100%;
                    background-image: url('./09-product/05-美容6_工作區域\ 1.jpg');
                    background-size: cover;
                    background-position: center;
                }

                .product-swiper-img4 {
                    width: 60%;
                    height: 100%;
                    background-image: url('./09-product/04-外出1_工作區域\ 1.jpg');
                    background-size: cover;
                    background-position: center;
                }

                .product-swiper-img5 {
                    width: 60%;
                    height: 100%;
                    background-image: url('./09-product/04-外出2_工作區域\ 1_工作區域\ 1.jpg');
                    background-size: cover;
                    background-position: center;
                }

                .product-swiper-img6 {
                    width: 60%;
                    height: 100%;
                    background-image: url('./09-product/06-保健_工作區域\ 1.jpg');
                    background-size: cover;
                    background-position: center;
                }

                .product-swiper-side {
                    width: 40%;
                    height: 100%;
                    position: relative;



                    h3 {
                        text-align: left;
                        position: absolute;
                        top: 130px;
                        left: 50px;
                        color: white;
                    }

                    h6 {
                        text-align: left;
                        top: 180px;
                        left: 50px;
                        color: white;
                    }
                }

            }

            .product-swiper-side1 {
                background-color: #C16C19;
            }

            .product-swiper-side2 {
                background-color: #FFC069;
            }

            .product-swiper-side3 {
                background-color: #F4B9AB;
            }

            .product-swiper-side4 {
                background-color: #B39E9B;
            }

            .product-swiper-side5 {
                background-color: #6C2457;
            }

            .product-swiper-side6 {
                background-color: #6C7091;
            }


        }
    }

}





// golden-ratio
section#golden-ratio {
    margin-top: 50px;
    background-color: chocolate;
    height: 600px;
    background-image: url('./10-product-transition/10-product-transition-goldenratio.png');
    background-size: cover;
    background-position: center;
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: white;
        position: absolute;
        right: 100px;
        bottom: 100px;

        h1 {
            text-align: right;
        }

        h5 {
            text-align: right;
            max-width: 65%;
        }
    }
}



//section#people
section#people {
    padding: 48px 0 125px 0;

    h2 {
        text-align: center;
        padding-bottom: 70px;
    }

    h4 {
        text-align: center;
        color: #E29B5E;

    }

    h5 {
        line-height: 30px;
        color: #E29B5E;
    }

    .people-btm {
        text-align: center;

        .people-hover-inside {
            @media(min-width:1440px) {
                display: none;

            }
        }

        .people-btm-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;


            .people-btm-left-img {
                margin: 0 0 38px 0;
                width: 186px;
                height: 186px;
                border-radius: 220px;
                background-image: url('./11-members/11-members-mrboss.png');
                background-size: cover;
                background-position: center;
                background-color: cornflowerblue;


                .people-btm-left-hover-outside {

                    height: 250px;
                    width: 220px;
                    position: relative;
                    position: absolute;
                    left: -120px;
                    top: 140px;
                    display: none;

                    @media(max-width: 1439px) {
                        display: none;
                    }

                    .circle1 {
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        background-color: #E29B5E;
                        position: absolute;
                        right: 0;
                    }

                    .circle2 {
                        width: 45px;
                        height: 45px;
                        border-radius: 45px;
                        background-color: #E29B5E;
                        position: absolute;
                        right: 25px;
                        top: 25px;
                    }

                    h6 {
                        padding: 5px 5px;
                        position: absolute;
                        top: 75px;
                        border-radius: 10px;
                        color: white;
                        background-color: #E29B5E;

                    }
                }
            }

            @media(min-width:1440px) {
                .people-btm-left-img:hover .people-btm-left-hover-outside {
                    display: block;
                }
            }
        }

        .people-btm-right {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;


            .people-btm-right-img {
                margin: 0 0 38px 0;
                width: 186px;
                height: 186px;
                border-radius: 220px;
                background-image: url('./11-members/11-members-msboss.png');
                background-size: cover;
                background-position: center;
                background-color: cornflowerblue;


                .people-btm-right-hover-outside {
                    height: 250px;
                    width: 220px;
                    position: relative;
                    position: absolute;
                    right: -120px;
                    top: 140px;
                    display: none;
                }
            }

            @media(min-width:1440px) {
                .people-btm-right-img:hover .people-btm-right-hover-outside {
                    display: block;


                    .circle1 {
                        width: 20px;
                        height: 20px;
                        border-radius: 20px;
                        background-color: #E29B5E;
                        position: absolute;
                        left: 0;
                    }

                    .circle2 {
                        width: 45px;
                        height: 45px;
                        border-radius: 45px;
                        background-color: #E29B5E;
                        position: absolute;
                        left: 25px;
                        top: 25px;
                    }

                    h6 {
                        padding: 5px 5px;
                        position: absolute;
                        top: 75px;
                        right: 0;
                        border-radius: 10px;
                        color: white;
                        background-color: #E29B5E;
                    }
                }


            }
        }
    }
}



// section#dog-leader
section#dog-leader {
    background-color: orange;

    .dog-img-order {
        order: 2;

        @media(max-width: 991px) {
            order: 0;
        }

    }

  
    .paw {
        padding-top: 70px;
        display: flex;
        justify-content: center;

        .paw-img {
            width: 40px;
        }
    }

    .content {
        width: 90%;
        margin: auto;
    }

    h4 {
        text-align: center;
        padding: 40px 0 15px 0;
    }

    h5 {
        text-align: center;
    }

    h6 {
        text-align: center;
    }

    .dog-img {
        width: 100%;
        height: 514px;
        background-size: cover;
        background-position: center;
        background-image: url("/12-leaderwhite/dog.jpg");

        .hi {
            padding-top: 6%;
            padding-left: 7%;
            display: none;
        }
    }

    .dog-img:hover .hi {
        display: block;
    }


}





// section#connect
section#connect {
    background-color: white;

    .container {
        padding-bottom: 53px;

        .connect-top {
            padding: 120px 0 100px 0;
            // 標題上間距120px  標題下間距100px
           
            display: flex;
            align-items: flex-end;
            justify-content: center;

            h2 {
                // text-align: center;
                font-size: 42px;
                letter-spacing: 8.5px;

            }
        }

        .connect-btm-left {
            width: 100%;
            height: 441px;
            background-color: burlywood;
        }

        .connect-btm-right {
           


            .connect-btm-right-top {
                display: flex;
                justify-content: space-between;
           

                @media(max-width:991px) {
                    flex-direction: column;
                    align-items: center;
                    padding: 28px 0;
                }

                .logo {
                    width: 50px;
                    order: 2;

                    @media(max-width: 991px) {
                        order: unset;
                    }

                }
            }

            .connect-btm-right-btm {
                padding-top: 180px;

                @media(max-width:991px) {
                    padding-top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .content {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    i {
                        color: #B39E9B;
                        margin: 0 5px;
                    }

                    h6 {
                        padding: 10px 0;

                    }
                }
            }
        }

    }


}


// footer
footer {
    background-color: #231815;

}

.footer-left {
    display: flex;
    justify-content: space-around;
    padding: 30px 0 30px 0;

    @media(max-width:991px) {
        display: none;
    }


    .logo {
        width: 100px;
        height: 100px;

    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
       

        h3 {
            color: white;
        }

        h6 {

            color: white;
        }
    }

}

.footer-right {

    padding: 30px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;



    div.h5 {
        width: 70px;
        height: 40%;
        background-color: blueviolet;

        h5 {
            font-size: 17px;
            color: white;
            word-wrap: wrap;

        }
    }

    .icon {
        display: flex;
        justify-content: flex-end;
        max-width: 80%;
        //   margin: auto;

        i {
            font-size: 40px;
            margin: 0 10px;
            color: white;
        }
    }



    .content {
        
        width: 90%;


        h6 {
            text-align: center;
            margin-top: 10px;
            color: white;
            font-size: 15px;
            letter-spacing: 5px;
        }
    }
}




