// 引用
@import url(https://fonts.googleapis.com/css?family=Pacifico);
//Add variables here:


// html,
// body {
//     position: relative;
//     height: 100%;
// }

h1 {
  font-size: 62px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}


body {
  margin: 0;
  padding: 0;
}

// shopping
#shopping {
  width: 40px;
  height: 225px;
  background-color: brown;
  position: fixed;
  right: 35px;
  top: 150px;
  z-index: 5;
  display: flex;
  flex-direction: column;

  i {
    font-size: 20px;
  }

  .cart {
    width: 31px;
    height: 200px;
    background-color: blue;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
  }

  .messenger {
    width: 50px;
    height: 100px;
    background-color: blue;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
  }
}







// section#banner
section#banner {
  width: 100%;
  height: 100vh;

  .img1 {
    height: 100%;
    width: 100%;
    background-image: url("./banner/Banner-01-Tsu.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .img2 {
    height: 100%;
    width: 100%;
    background-image: url("./banner/Banner-02-Tsu.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .img3 {
    height: 100%;
    width: 100%;
    background-image: url("./banner/Banner-03-Tsu.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .container {
    position: relative;

    ul {
      display: flex;
      position: absolute;
      top: 140px;
      right: 0;
      z-index: 2;
      list-style-type: none;

      li {
        margin: 0 14px;
      }

      ;

      li:hover {
        font-weight:
          bold;
        position: relative;
        border-bottom: 1px solid gray;

        .nav-img {
          width: 50px;
          height: 50px;
          background-color: aqua;
          position: absolute;
          top: 50px;
        }
      }
    }

    .logo {
      height: 150px;
      width: 105px;
      background-color: rgb(240, 11, 11);
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 23px;
      z-index: 3;
    }

    .content {
      height: 100px;
      background-color: rgb(66, 42, 42);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      position: absolute;
      top: 443px;
      right: 40px;
      z-index: 3;
    }

    .phone {
      width: 250px;
      border-radius: 29px;
      display: flex;
      justify-content: center;
      position: absolute;
      top: 20px;
      right: 0;
      z-index: 2;
      padding: 5px 0;
      background-color: rgb(138, 216, 193);

      i {
        margin: 0 8px;
      }

      h6 {
        margin: 0;
      }
    }
  }


  // swiper
  .swiper-container {
    width: 100%;
    height: 100%;


  }

  .swiper-slide {
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  }


  // section#about
  section#about {
    width: 100%;
    background-color: red;

    .pic {
      width: 100%;
      height: 403px;
      background-image: url('/img/corneranimal.jpg');
      background-size: cover;
      background-color: blueviolet;
      margin-top: 118px;


    }

    .title {
      font-size: 42px;
      letter-spacing: 8.5px;
      margin-top: 118px;

      h2 {
        margin-bottom: 82px;

      }

      h5 {
        padding-bottom: 200px;
      }

      .logo {
        width: 104px;
        height: 92px;
        background-color: blue;
        margin-top: 71px;
      }
    }
  }
}







  //section#transition
  section#transition {
    div.pic {
      width: 100%;
      height: 380px;
      background-image: url('/img/團聚.jpg');
      display: flex;

      .title {
        // margin: auto;
        font-size: 62px;
        padding-top: 90px;
        padding-bottom: 220px;
        padding-left: 175px;
        letter-spacing: 8.5px;
      }
    }
  }





  // section#unfamiliar
  section#unfamiliar {
    width: 100%;
    height: 100vh;
    position: relative;

    .swiper-container {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      position: relative;

      div video {
        width: 100%;
        // height: 100vh;

      }

      div.img {
        width: 100%;
        height: 100%;
        background-image: url('https://lh3.googleusercontent.com/ngCIdh5L9dVAjhnlhQvJeGs5zjPDCdoiDVVjMc3M67SX77wlBQI_M8DPjolFf8rv8EncMZ2Inw=w600-h0');
        background-size: cover;
        overflow: hidden;
        background-position: center;
      }

      .swiper-title {
        position: absolute;
        top: 120px;
        left: 560px;
        z-index: 2;
        color: white;
        letter-spacing: 8.5px;
      }


    }

    div.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }


  }





  // unfamiliar-group
  section#unfamiliar-picgroup {
    width: 100%;

    .container-fluid {
      .row {
        margin-left: -15px;
        margin-right: -15px;
      }

      div.col-4 {

        @media(max-width:768px) {
          width: 100%;
        }

        .pic {
          width: 100%;
          height: 405px;
          background-image: url('/img/picgroup/1.jpg');
          background-size: cover;

        }

      }
    }




  }





  // service
  section#service {
    background-color: red;

    h2 {
      text-align: center;
      padding: 122px 0 130px 0;
    }

    h3 {
      text-align: center;
      margin: 20px 0;

      @media(max-width:991px) {
        margin-top: 78px;
      }
    }

    h5 {
      @media(max-width:991px) {
        max-width: 70%;
        margin: auto;
      }
    }

    .service-btm-left-order {
      order: 1;
    }

    .service-btm-center-order {
      order: 2;

      @media(max-width:991px) {
        order: 1
      }
    }

    .service-btm-right-order {
      order: 3;
    }


    .service-btm-left {
      background-color: cyan;
      padding: 100px 0 50px 0;

      @media (max-width:991px) {
        padding: unset;
      }

      .service-btm-left-top {
        position: relative;

        h2 {
          @media (max-width:991px) {}
        }

        .service-btm-left-top-img {
          width: 65px;
          height: 65px;
          border-radius: 65px;
          background-color: black;
          position: absolute;
          right: 10%;
          top: -10px;

          @media(max-width: 991px) {
            left: calc(50% - 32.5px);
            top: -55px
          }
        }
      }

      .service-btm-left-btm {
        position: relative;

        .service-btm-left-btm-img {
          width: 65px;
          height: 65px;
          border-radius: 65px;
          background-color: black;
          position: absolute;
          right: 10%;
          top: -10px;

          @media(max-width: 991px) {
            left: calc(50% - 32.5px);
            top: -55px
          }

        }
      }
    }

    .service-btm-right {
      background-color: green;
      padding: 100px 0 50px 0;

      @media (max-width:991px) {
        padding: unset;
      }
    }

    .service-btm-right-top {
      position: relative;

      .service-btm-right-top-img {
        width: 65px;
        height: 65px;
        border-radius: 65px;
        background-color: black;
        position: absolute;
        left: 10%;
        top: -10px;

        @media(max-width: 991px) {
          left: calc(50% - 32.5px);
          top: -55px
        }
      }
    }

    .service-btm-right-btm {
      position: relative;

      .service-btm-right-btm-img {
        width: 65px;
        height: 65px;
        border-radius: 65px;
        background-color: black;
        position: absolute;
        left: 10%;
        top: -10px;

        @media(max-width: 991px) {
          left: calc(50% - 32.5px);
          top: -55px
        }
      }
    }
  }

  .service-btm-center {
    background-color: cyan;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 0 50px 0;

    @media(max-width: 991px) {
      padding: unset;
    }

    img {
      width: 100%;
      height: 100%;
    }


    // swiper
    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }



  }





  //product
  section#product {
    background-color: rgb(206, 228, 108);

    h2 {
      padding: 123px 0 38px 0;
      text-align: center;
      color: rgb(100, 73, 150)
    }

    .product-mdl {
      background-color: darkgoldenrod;

      h5 {
        margin-top: 8px;
        text-align: center;
      }

      .product-mdl-img1 {
        width: 90px;
        height: 90px;
        background-color: black;
        border-radius: 90px;
        margin: auto;
      }


      .product-mdl-img2 {
        width: 90px;
        height: 90px;
        background-color: black;
        border-radius: 100px;
        margin: auto;
      }

      .product-mdl-img3 {
        width: 90px;
        height: 90px;
        background-color: black;
        border-radius: 100px;
        margin: auto;
      }

      .product-mdl-img4 {
        width: 90px;
        height: 90px;
        background-color: black;
        border-radius: 100px;
        margin: auto;
      }

      .product-mdl-img5 {
        width: 90px;
        height: 90px;
        background-color: black;
        border-radius: 100px;
        margin: auto;
      }

      .product-mdl-img6 {
        width: 90px;
        height: 90px;
        background-color: black;
        border-radius: 100px;
        margin: auto;
      }


    }


    .product-btm {
      width: 100%;
      height: 495px;
      background-color: black;
      position: relative;

      @media(max-width:767px) {
        display: none;
      }

      h6 {
        position: absolute;
        right: 0
      }

      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    }

  }





  // golden-ratio
  section#golden-ratio {
    background-color: chocolate;

    h1 {
      padding: 167px 0 310px 0;
    }

    h5 {
      padding: 448px 0 48px 0;

      @media(max-width: 575px) {
        padding: 5% 0 20% 0;
      }
    }
  }





  //section#people
  section#people {
    background-color: coral;
    padding: 48px 0 125px 0;

    h2 {
      text-align: center;
      color: blueviolet;
      padding: 48px 0 102px 0;
    }

    h5 {
      line-height: 30px;
    }

    .people-btm {
      text-align: center;

      .people-btm-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(128, 128, 216)
      }

      .people-btm-left-img {
        margin: 0 0 38px 0;
        width: 220px;
        height: 220px;
        background-color: cornflowerblue;
      }

      .people-btm-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(128, 128, 216)
      }

      .people-btm-right-img {
        margin: 0 0 38px 0;
        width: 220px;
        height: 220px;
        background-color: cornflowerblue;
      }
    }
  }




  // section#dog-leader
  section#dog-leader {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0 84px 0;

    .dog-img {
      width: 154px;
      height: 154px;
      border-radius: 154px;
      background-color: black;
      margin: auto;
    }

    .content {
      width: 80%;
      margin: auto;
    }

    h4 {
      text-align: center;
      padding: 40px 0 28px 0;
    }

    h5 {
      text-align: center;
    }
  }





  // section#connect
  section#connect {
    background-color: white;

    .container {
      width: 100%;
      padding-bottom: 53px;

      .connect-top {
        padding: 120px 0 100px 0;
        // 標題上間距120px  標題下間距100px
        background-color: crimson;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        h2 {
          // text-align: center;
          font-size: 42px;
          letter-spacing: 8.5px;

        }
      }

      .connect-btm-left {
        width: 100%;
        height: 441px;
        background-color: burlywood;
      }

      .connect-btm-right {
        background-color: rgb(173, 13, 53);


        .connect-btm-right-top {
          display: flex;
          justify-content: space-between;
          background-color: chartreuse;

          .logo {
            width: 75px;
            height: 75px;
            background-color: black
          }
        }

        .connect-btm-right-btm {
          background-color: chocolate;

          h6 {
            color: greenyellow;

          }
        }
      }

    }


  }


  // footer
  footer {
    background-color: black;

    .footer-left {
      background-color: aqua;
      display: flex;
      justify-content: space-around;
      padding: 30px 0 30px 0;


      .logo {
        width: 100px;
        height: 100px;
        background-color: chocolate;
        background-image: url('/img/logo-white.png')
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: chartreuse;

        h2 {
          font-size: 42px;
          color: white;
        }

        h5 {
          font-size: 18px;
          letter-spacing: 10px;
          color: white;
        }
      }
    }

    .footer-right {
      background-color: red;
      padding: 30px 0 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      .boxtop {
        width: 100%;
        height: 50%;
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;

        div.h5 {
          width: 70px;
          height: 40%;
          background-color: blueviolet;

          h5 {
            font-size: 17px;
            color: white;
            word-wrap: wrap;

          }
        }

        .icon {
          background-color: black;
          display: flex;
          justify-content: flex-end;
          max-width: 80%;
          //   margin: auto;

          i {
            font-size: 40px;
            margin: 0 10px;
            color: white;
          }
        }
      }


      .content {
        background-color: black;
        width: 90%;


        h6 {
          text-align: center;
          margin-top: 10px;
          color: white;
          font-size: 15px;
          letter-spacing: 5px;
        }
      }
    }
  }





  // other extra class
  .b-p-center {
    background-position: center;
  }

  .b-s-cover {
    background-size: cover;
  }

  .mr-top-30 {
    margin-top: 30px;
  }

  .bb {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }